<table class="table table-bordered table-striped text-wrap">
    <thead>
        <tr>
            <th role="button" (click)="sortData('givenName')">Firstname <span [innerHTML]="sortSign('givenName')"></span></th>
            <th role="button" (click)="sortData('surName')">Lastname<span [innerHTML]="sortSign('surName')"></span></th>
            <th role="button" (click)="sortData('age')">Age<span [innerHTML]="sortSign('age')"></span></th>
            <th role="button" (click)="sortData('email')">Email<span [innerHTML]="sortSign('email')"></span></th>
            <th role="button" (click)="sortData('address')">Address<span [innerHTML]="sortSign('address')"></span></th>
        </tr>
    </thead>
    <tbody>
        @for(row of manyPerson; track row){
            <tr class="align-middle"(dblclick)="onPersonClick(row)">
                <th>{{row.givenName}}</th>
                <th>{{row.surName}}</th>
                <th>{{row.age}}</th>
                <th>{{row.email}}</th>
                <th>{{row.address}}</th>
            </tr>
        }
    </tbody>
</table>
